.talking{  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background3);
}

.talking2{
    display: none;
}

.balloon{
    width: 84%;
    border: solid 3px var(--change1);
    color: var(--txt2);
    border-radius: 8px;
    background-color: var(--background2);
}

@media (width >=700px){
    .talking{
        display: none;
    }

    .talking2 {
        position: fixed; 
        top: 90px; 
        left: 0; 
        display: block;
        width: 100%; 
        z-index: 5; 
        font-size: 1.2rem;
      }
      
      .left {
        width: 30%;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-inline: 5px; 
        border: solid 3px var(--change1);
        color: var(--txt2);
        margin-inline: 6%;
        border-radius: 8px;
        background-color: var(--background2);
        float: left;
      }
      
      .right {
        padding-top: 3px;
        padding-bottom: 3px;
        padding-inline: 5px; 
        margin-inline: 6%;
        width: 30%; 
        border: solid 3px var(--change1);
        color: var(--txt2);
        border-radius: 8px;
        background-color: var(--background2);
        float: right; 
      }
}