.character{
    position: relative;  
    padding-top: 4px;
    display: block;
    justify-content: center;
    overflow: hidden;
}

.background-image {
    background-color: var(--background3);
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: auto;
    z-index: -1; 
    }


    .character .fun {
    position: relative;
    width: 74%;
    animation: breathing 3s infinite alternate, move 5s infinite linear;
    height: auto;
    z-index: 1; 
}

@keyframes breathing {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.02); 
    }
}

@keyframes move {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(5px, 5px); 
    }

    50% {
        transform: translate(-5px, -5px); 
    }

    75% {
        transform: translate(-5px, 5px); 
    }

    100% {
        transform: translate(0, 0);
    }
}

@media (width >=700px){
    .character{
        overflow: hidden;
        padding-top: 20px;
        position: relative;
        display: flex;
    }

    .background-image {
    width: 100%;
    height: auto;
    }


    .character .fun {
        position: absolute;
        width: auto;
        height: 120%;
        animation: breathing 3s infinite alternate, move 5s infinite linear;
        z-index: 1; 
    }
}
