:root[data-theme="fun"]{
    /* colors */
    --blue:#aaafe9;
    --black:#000000;
    --white:#fff;
    --transparent:#fff0;
    --pink: #fb95ed;

    /* colors text */
    --txt1:#fff;
    --txt2:#292933;
    --txt3:#292933;

    /* colors background */
    --background1:#ff80d3;
    --background2:#fff;
    --background3: #fb95ed;

    /* change */
    --change1:var(--blue);
}

:root[data-theme="full"]{
        /* colors */
        --blue:#aaafe9;
        --black:#000000;
        --white:#fff;
        --transparent:#fff0;
        --pink: #fb95ed;
    
        /* colors text */
        --txt1:#fff;
        --txt2:#fff;
        --txt3:#292933;
    
        /* colors background */
        --background1:#bc0401;
        --background2:#000000;
        --background3: #000000;

        /* change */
        --change1:#e41a30;
}