footer{
    display: flex;
    padding-inline: 5%;
    color: var(--txt1);
    background-color: var(--background1);
    align-items: center;
    justify-content: space-between;
    font-size: 2.5vh;
}

footer .heart{
    width: 30px;
    height:30px ;
}

@media (width >=700px){
    footer{
        font-size: 1.4rem;
        align-items: center;
    }

    footer .heart{
        width: 40px;
        height:40px ;
    }
}