@import "../CSS/header.css";
@import "../CSS/ballon.css";
@import "../CSS/character.css";
@import "../CSS/play.css";
@import "../CSS/footer.css";
@import "../CSS/colors.css";

@font-face {
    font-family: Futura ;
    src: url("../assets/fonts/Futura\ Light\ font.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Futura;
    src: url("../assets/fonts/Futura\ Bold\ font.ttf");
    font-weight: 700;
}


body{
    display: grid;
    min-height: 100vh;
    text-align: center;
    /* stylelint-disable-next-line font-family-name-quotes */
    font-family: "Futura", 'Poppins', sans-serif;
    grid-template-rows: 12% 16% 39% 25% 8%;
    background-color: var(--background3);
}



@media (width >=700px){
    body{
        grid-template-rows: 10% 50% 30% 10%;
    }
}