:root{
    --yellow:hsl(47deg 88% 63%);
    --whit: hsl(0deg 0% 100%);
    --grey: hsl(0deg 0% 50%);
    --black: hsl(0deg 0% 7%);
}


@font-face {
    font-family: Futura ;
    src: url("/assets/fonts/Futura\ Heavy\ font.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Futura ;
    src: url("/assets/fonts/unicode.futurab.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Futura ;
    src: url("/assets/fonts/Futura\ Extra\ Black\ font.ttf");
    font-weight: 700;
}


body{
    text-align: center;
    background-color: var(--yellow);
    font-family: Futura,sans-serif;
    min-height: 95vh;
}
